{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/posts_list.css' %}">
{% endblock %}
{% block content %}
    <div>
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-6 col-xl-4">
                <a href="{% url 'post_detail' post.identifier %}">
                        <div class="card bg-dark border border-light p-3 mt-4 scale-on-hover">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text text-truncate">{{ post.content }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <span class="language-dot"></span>
                                        <small class="text-muted"></small>
                                    </div>
                                    <div class="stars">★</div>
                                </div>
                                <div class="d-block justify-content-between  mt-2 text-muted text-truncate">
                                    <p>
                                        <strong>{{ post.author }}</strong>
                                    </p>
                                    <p>
                                        <strong>{{ post.created_at }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
