
{% extends "main/index.html" %}
{% load static %}
{% block title %}{{ profile.username }}{% endblock %}
{% block content %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
<div class="min-vh-100 p-5">
   <div class="row">
      <div class="col-md-3 text-center">
         <img src="{{ profile.get_avatar }}" alt="avatar" class="img-fluid rounded-circle">
         <p class="mt-3 fs-4 text-break">{{ profile.username }}</p>
         <div class="action-buttons">
            {% if request.user.is_authenticated %}
               {% if request.user and request.user.profile != profile %}
                  {% if is_following %}
                  <a href="{% url 'unfollow' username=profile.username %}?next={{ request.path }}"
                     class="btn border-start-0 border-top-0 btn-outline-primary w-100 mt-2 action-checked">Unfollow</a>
                  {% else %}
                  <a href="{% url 'follow' username=profile.username %}?next={{ request.path }}"
                     class="btn btn-outline-primary w-100 mt-2 action-unchecked">Follow</a>
                  {% endif %}
               {% else %}
               <a href="{% url 'edit_profile' %}"
                  class="btn btn-outline-primary w-100 mt-2 action-unchecked">Edit</a>
               {% endif %}
            {% else %}
            <a href="{% url 'login' %}"
               class="btn btn-outline-primary w-100 mt-2 action-unchecked">Follow</a>
            {% endif %}
         </div>

         <hr class="mt-3">
         <ul class="list-unstyled d-flex flex-column fs-7">
            <li>
               <div class="d-flex align-items-center gap-1 mb-0" id="following-info">
                  <span class="badge bg-secondary">{{ profile.following.count }}</span> Following
                  <div class="avatars-block"> 
                     {% for following, _ in followings|slice:":3" %}
                     <a href="{% url 'profile' username=following.username %}" class="m-0 ">
                     <img src="{{ following.get_avatar }}" alt="{{ following.username }}" class="avatar reduce-margin-right">
                     </a>
                     {% endfor %}
                  </div>
               </div>
            </li>
            <li class="mt-2">
               <div class="d-flex align-items-center gap-1 mb-0">
                  <span class="badge bg-secondary">{{ profile.followers.count }}</span> Followers
                  <div class="avatars-block"> 
                     {% for follower, _ in followers|slice:":3" %}
                     <a href="{% url 'profile' username=follower.username %}" class="m-0 ">
                     <img src="{{ follower.get_avatar }}" alt="avatar" class="avatar">
                     </a>
                     {% endfor %}
                  </div>
               </div>
            </li>
            <li class="mt-2">
               <p class="d-flex align-items-center gap-1 mb-0">
                  <span class="badge bg-secondary">{{ profile.posts.count }}</span> Posts
               </p>
            </li>
            <li class="mt-2">
                <p class="d-flex align-items-center gap-1 mb-0">
                   <span class="badge bg-secondary">{{ profile.comments.count }}</span> Comments
                </p>
             </li>
         </ul>
         {% if profile.telegram or profile.vkontakte %}
         <hr>
         {% endif %}
         <ul class="list-unstyled d-flex flex-column fs-7">
            {% if profile.telegram %}
            <li>
               <a href="{{ profile.telegram }}" class="text-break d-flex align-items-center gap-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor"
                     class="bi bi-telegram" viewBox="0 0 17 17">
                     <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09" />
                  </svg>
                  {{ profile.get_telegram }}
               </a>
            </li>
            {% endif %}
            {% if profile.vkontakte %}
            <li class="mt-2">
               <a href="{{ profile.vkontakte }}" class="text-break d-flex align-items-center gap-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 23 23">
                     <path fill="currentColor"
                        d="M15.073 2H8.938C3.332 2 2 3.333 2 8.927v6.136C2 20.667 3.323 22 8.927 22h6.136C20.667 22 22 20.677 22 15.073V8.938C22 3.332 20.677 2 15.073 2m3.073 14.27h-1.459c-.552 0-.718-.447-1.708-1.437c-.864-.833-1.229-.937-1.448-.937c-.302 0-.385.083-.385.5v1.312c0 .355-.115.563-1.042.563a5.7 5.7 0 0 1-4.448-2.667a11.6 11.6 0 0 1-2.302-4.833c0-.219.083-.417.5-.417h1.459c.375 0 .51.167.656.552c.708 2.084 1.916 3.896 2.406 3.896c.188 0 .27-.083.27-.552v-2.146c-.062-.979-.582-1.062-.582-1.416a.36.36 0 0 1 .374-.334h2.292c.313 0 .417.156.417.531v2.896c0 .313.135.417.229.417c.188 0 .333-.104.677-.448a12 12 0 0 0 1.792-2.98a.63.63 0 0 1 .635-.416h1.459c.437 0 .53.219.437.531a18.2 18.2 0 0 1-1.958 3.365c-.157.24-.22.365 0 .646c.145.219.656.646 1 1.052a6.5 6.5 0 0 1 1.229 1.708c.125.406-.084.615-.5.615" />
                  </svg>
                  {{ profile.get_vkontakte }}
               </a>
            </li>
            {% endif %}
         </ul>
      </div>
      <div class="col-md-9 fs-7">
         <ul class="nav nav-tabs mb-3 nav-fill" id="profile-nav" role="tablist">
            <li class="nav-item" role="presentation">
               <button class="tab text-light active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                  type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
            </li>
            <li class="nav-item" role="presentation">
               <button class="tab text-light" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button"
                  role="tab" aria-controls="posts" aria-selected="false">Posts</button>
            </li>
            <li class="nav-item" role="presentation">
               <button class="tab text-light" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers"
                  type="button" role="tab" aria-controls="followers" aria-selected="false">Followers</button>
            </li>
            <li class="nav-item" role="presentation">
               <button class="tab text-light" id="following-tab" data-bs-toggle="tab" data-bs-target="#following"
                  type="button" role="tab" aria-controls="following" aria-selected="false">Following</button>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active mt-4" id="about" role="tabpanel" aria-labelledby="about-tab">
               {% if profile.username %}
               <p>
                  <em class="about-field">Username: </em>{{ profile.username }}
               </p>
               {% endif %}

               <!-- {% if profile.email %}
               <p>
                  <em class="about-field">Email: </em>{{ profile.email }}
               </p>
               {% endif %} -->

               {% if profile.first_name %}
               <p>
                  <em class="about-field">Fisrt Name: </em>{{ profile.first_name }}
               </p>
               {% endif %}
               {% if profile.last_name %}
               <p>
                  <em class="about-field">Last Name: </em>{{ profile.last_name }}
               </p>
               {% endif %}
               {% if profile.middle_name %}
               <p>
                  <em class="about-field">Middle Name: </em>{{ profile.middle_name }}
               </p>
               {% endif %}

               {% if profile.date_of_birth %}
               <p>
                  <em class="about-field">Date of Birth: </em>{{ profile.date_of_birth }}
               </p>
               {% endif %}
               {% if profile.university %}
               <p>
                  <em class="about-field">University: </em>{{ profile.university }}
               </p>
               {% endif %}
               {% if profile.major %}
               <p>
                  <em class="about-field">Major: </em>{{ profile.major }}
               </p>
               {% endif %}
               {% if profile.date_joined %}
               <p>
                  <em class="about-field">Joined: </em>{{ profile.date_joined }}
               </p>
               {% endif %}
               {% if profile.bio %}
               <p>
                  <em class="about-field">Bio: </em>{{ profile.bio }}
               </p>
               {% endif %}
            </div>
            <div class="tab-pane" id="posts" role="tabpanel" aria-labelledby="posts-tab">
               <ul class="nav nav-tabs mb-3 nav-fill" id="posts-nav" role="tablist">
                  <li class="nav-item" role="presentation">
                     <button class="tab text-muted active" id="posts-self-tab" data-bs-toggle="tab" data-bs-target="#posts-self"
                        type="button" role="tab" aria-controls="posts-self" aria-selected="true"><i class="bi bi-person-square"></i></i></button>
                  </li>
                  <li class="nav-item" role="presentation">
                     <button class="tab text-muted" id="bookmarks-tab" data-bs-toggle="tab" data-bs-target="#bookmarks" type="bookmarks"
                        role="tab" aria-controls="bookmarks" aria-selected="false"><i class="bi bi-bookmark-fill"></i></button>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane pt-1 show active" id="posts-self" role="tabpanel" aria-labelledby="posts-self-tab">
                     {% if not profile.posts.all %}
                     <p class="text-secondary fs-7 mt-4 text-center">{{ profile.username }} doesn't have any posts yet.</p>
                     {% endif %}
                     {% for post in profile.posts.all %}
                        {% include 'main/post.html' with post=post %}
                     {% endfor %}
                  </div>
                  <div class="tab-pane pt-1" id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
                     {% if not profile.bookmarks.all %}
                     <p class="text-secondary fs-7 mt-4 text-center">{{ profile.username }} doesn't have any bookmarks yet.</p>
                     {% endif %}
                     {% for bookmark in profile.bookmarks.all %}
                        {% include 'main/post.html' with post=bookmark.post %}
                     {% endfor %}
                  </div>
               </div>
            </div>
            <div class="tab-pane pt-1" id="followers" role="tabpanel" aria-labelledby="followers-tab">
               {% if not followers %}
               <p class="text-secondary fs-7 mt-4 text-center">{{ profile.username }} doesn't have any followers yet.</p>
               {% else %}
               <ul class="list-unstyled">
                  {% for follower, is_following in followers %}
                  <li class="d-flex align-items-center gap-2 mb-4">
                     <a href="{% url 'profile' username=follower.username %}" class="text-break hover-muted">
                     <img src="{{ follower.get_avatar }}" alt="{{ follower.username }}" class="avatar-bigger">
                     {{ follower.username }}
                     {% if follower.first_name %}
                     <span class="text-muted">{{ follower.first_name }}</span>
                     {% endif %}
                     {% if follower.last_name %}
                     <span class="text-muted">{{ follower.last_name }}</span>
                     {% endif %}
                     </a>
                     {% if request.user.is_authenticated %}
                        {% if request.user.profile != follower and is_following %}
                        <a href="{% url 'unfollow' username=follower.username %}?next={{ request.path }}"
                           class="btn btn-outline-primary margin-left-auto action-checked">Unfollow</a>
                        {% elif request.user.profile != follower %}
                        <a href="{% url 'follow' username=follower.username %}?next={{ request.path }}"
                           class="btn btn-outline-primary margin-left-auto action-unchecked">Follow</a>
                        {% endif %}
                     {% else %}
                     <a href="{% url 'login' %}"
                        class="btn btn-outline-primary margin-left-auto action-unchecked">Follow</a>
                     {% endif %}
                  </li>
                  <hr>
                  {% endfor %}
               </ul>
               {% endif %}
            </div>
            <div class="tab-pane pt-1" id="following" role="tabpanel" aria-labelledby="following-tab">
               {% if not followings %}
               <p class="text-secondary fs-7 mt-4 text-center">{{ profile.username }} doesn't have any followings yet.</p>
               {% else %}
               <ul class="list-unstyled">
                  {% for following, is_following in followings %}
                  <li class="d-flex align-items-center gap-2 mb-4">
                     <a href="{% url 'profile' username=following.username %}" class="text-break hover-muted">
                     <img src="{{ following.get_avatar }}" alt="{{ following.username }}" class="avatar-bigger">
                     {{ following.username }}
                     {% if following.first_name %}
                     <span class="text-muted">{{ following.first_name }}</span>
                     {% endif %}
                     {% if following.last_name %}
                     <span class="text-muted">{{ following.last_name }}</span>
                     {% endif %}
                     </a>
                     {% if not request.user.is_authenticated %}
                     <a href="{% url 'login' %}"
                        class="btn btn-outline-primary margin-left-auto action-checked">Follow</a>
                     {% elif request.user.profile != following and is_following %}
                     <a href="{% url 'unfollow' username=following.username %}?next={{ request.path }}"
                        class="btn btn-outline-primary margin-left-auto action-checked">Unfollow</a>
                     {% elif request.user.profile != following %}
                     <a href="{% url 'follow' username=following.username %}?next={{ request.path }}"
                        class="btn btn-outline-primary margin-left-auto  action-unchecked">Follow</a>
                     {% endif %}
                  </li>
                  <hr>
                  {% endfor %}
               </ul>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block extrabody %}
<script>
   const profileTriggerTabList = document.querySelectorAll('#profile-nav button')
   profileTriggerTabList.forEach(triggerEl => {
       const tabTrigger = new bootstrap.Tab(triggerEl)
   
       triggerEl.addEventListener('click', event => {
           event.preventDefault()
           tabTrigger.show()
       })
   })

   const postsTriggerTabList = document.querySelectorAll('#posts-nav button')
   postsTriggerTabList.forEach(triggerEl => {
       const tabTrigger = new bootstrap.Tab(triggerEl)
   
       triggerEl.addEventListener('click', event => {
           event.preventDefault()
           tabTrigger.show()
       })
   })
   
   const triggerEl = document.getElementById('following-btn')
   bootstrap.Tab.getInstance(triggerEl).show()
</script>
{% endblock %}
