{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tell Your Friends - Sign Up</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>

    <div class="container-fluid position-relative d-flex p-0">
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem; color: var(--primary) !important;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="flex row vh-100 align-items-center justify-content-center" style="min-height: 100vh;">   
                <div class="col-12 row col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    {% for msg in messages %}
                        <div class="alert alert-danger d-flex align-items-center col-md-6" role="alert" style="border-radius: 1rem !important;">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div style="margin-left: 1rem !important;">
                                {{ msg }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="bg-secondary rounded p-4" style="border-radius: 1rem !important;">
                        <div class="text-center align-items-center justify-content-between mb-4">
                            <h3 class="text-primary fs-5">Sign Up to <a href="{% url 'index' %}" class="fs-5" style="font-family: 'Roboto' !important;">Tell Your Friends</a></h3>
                        </div>
                        <div>
                            <button class="btn btn-dark border rounded-pill px-4 py-2 mb-2" style="width: 100%;">
                                <img src="https://img.icons8.com/color/48/000000/google-logo.png" class="rounded float-start" width="24" height="24">
                                <span class="text-center">Continue with Google</span>
                            </button>
                            <button class="btn btn-dark border rounded-pill px-4 py-2 mb-2" style="display: block; width: 100%;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Yandex_icon.svg" class="rounded float-start" width="24" height="24">
                                <span class="text-center">Continue with Yandex</span>
                            </button>
                            <button class="btn btn-dark border rounded-pill px-4 py-2 mb-3" style="display: block; width: 100%;">
                                <img src="https://img.icons8.com/?size=100&id=13977&format=png&color=000000" class="rounded float-start" width="24" height="24">
                                <span class="text-center">Continue with VK</span>
                            </button>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or small">OR</span>
                            </div>
                        </div>
                        <form method="post" role="form">
                            {% csrf_token %}
                            <div class="form-floating mb-2">
                                <input type="email" name="email" class="form-control form-control-sm" style="border-radius: 1rem;" id="id_email" placeholder="name@example.com" required aria-invalid="true">
                                <label for="id_email">Email <label style="color: rgb(188, 28, 28);">*</label></label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="password" name="password1" class="form-control form-control-sm" style="border-radius: 1rem;" id="id_password1" placeholder="Password" required aria-invalid="true">
                                <label for="id_password1">Password <label style="color: rgb(188, 28, 28);">*</label></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="password2" class="form-control form-control-sm" style="border-radius: 1rem;" id="id_password2" placeholder="Password confirmation" required aria-invalid="true">
                                <label for="id_password2">Password confirmation <label style="color: rgb(188, 28, 28);">*</label></label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a href="">Forgot password?</a>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4" style="border-radius: 1rem !important;"><label style="color: var(--dark) !important;">Sign Up</label></button>
                        </form>
                        <p class="text-center mb-0">Already have an Account? <a href="{% url 'login' %}">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>