{% extends "main/blank.html" %}
{% load static %}
<!-- TODO: change title -->
{% block title %}single post{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/single-post.css' %}">
{% endblock %}
{% block content %}
    <div class="min-vh-100 p-4">
    <!-- TODO: WTF with bootstrap classes? -->
        <div class="card rounded-0 border-top-0 bg-dark border-light p-4" style="border-left: 0 !important; border-right: 0 !important;">
            <div class="row flex-md-row flex-column">
                <!-- Левая колонка с аватаром и информацией -->
                <div class="col-md-3 text-center mb-3 mb-md-0 flex-shrink-0">
                    <img src="https://avatars.mds.yandex.net/i?id=44ec612e4218e6cf67cd378240111958-4876801-images-thumbs&n=13"
                         alt="avatar"
                         class="img-fluid rounded-circle mb-3">
                <h3 class="text-light">{{post.author.username}}</h3>
                    <div class="followers-info d-flex align-items-center justify-content-center text-muted">
                        <i class="bi bi-people me-1"></i>
                        <span>0 followers</span>
                    </div>
                    <hr class="bg-light my-3">
                </div>
                <div class="col-md-9">
                <h1 class="post-title text-light">{{post.title}}</h1>
                    <div class="post-info d-flex flex-column justify-content-start mt-3 mb-4 text-muted">
                        <span class="me-3">
                        <i class="bi bi-calendar3 me-1"></i>Дата создания: {{post.created_at}} 
                        </span>
                        <span class="mt-3">
                            <i class="bi bi-eye me-1"></i>Просмотры: 123
                        </span>
                    </div>
                    <div class="social-links mt-3">
                        <a href="#" class="text-muted me-3">
                            <i class="bi bi-telegram"></i> telegram
                        </a>
                    </div>
                </div>
            </div>
            <div class="post-description rounded bg-dark-subtle text-light">
                <p>
                    {{post.content}}
                </p>
            </div>
            <div class="post-content mt-5">
                <a href="path/to/file.pdf"
                   target="_blank"
                   class="btn btn-outline-light mt-2 mb-4">Вложения</a>
            </div>
        </div>
    </div>
{% endblock %}
